header {
  padding: 1.5rem !important;
  width: 100%;
  color: white;
}
header a {
  color: white;
  margin-right: 1rem;
}
header span {
  margin-right: 1rem;
}
.authContainer {
  margin-left: auto;
}
